@page "/admin/members"
@model ASP_EF.Areas.Admin.Pages.User.IndexModel
@{
    ViewData["Title"] = "Danh sách các thành viên";
}

<h2>@ViewData["Title"]</h2>

<partial name="_StatusMessage" model="@Model.StatusMessage" />
<p>Tổng số User: @Model.TotalUsers</p>
<p>Tổng số trang: @Model.TotalPage</p>

<table class="table">
    <tr>
        <th>Tên User</th>
        <th>Vai trò (role)</th>
        <th>Tác vụ</th>
    </tr>
    @foreach (var user in Model.Users)
    {
        <tr>
            <td>@user.UserName</td>
            <td>
                @if (string.IsNullOrEmpty(user.RoleNames))
                {
                    <a class="text-dark text-decoration-none badge bg-secondary fs-6" asp-page="./AddRole" asp-route-id="@user.Id">+ Thêm role</a>
                }
                else
                {
                    <a asp-page="./AddRole" asp-route-id="@user.Id">@user.RoleNames</a>
                }
            </td>
            <td>
                <a class="btn btn-success btn-sm text-decoration-none" asp-page="./SetPassword" asp-route-id="@user.Id">Đặt mật khẩu</a>
            </td>
        </tr>
    }
</table>

@{
    var pagingModel = new ASP_EF.Helpers.PagingModel()
            {
                currentpage = Model.CurrentPage,
                countpage = Model.TotalPage,
                generateUrl = (int? p) => @Url.Page("./Index", new { p = p })
            };
}

<partial name="_Paging" model="@pagingModel" />
