@page "/admin/roles"
@model ASP_EF.Areas.Admin.Pages.Role.IndexModel
@{
    ViewData["Title"] = "Danh sách các role (vai trò)";
}

<h2>@ViewData["Title"]</h2>

<partial name="_StatusMessage" model="@Model.StatusMessage" />

<div class="mb-2">
    <a class="btn btn-primary" asp-page="./Create">Tạo role mới</a>
    <a class="btn btn-primary" asp-page="../User/Index">Quản lý thành viên</a>
</div>

<table class="table">
    <tr>
        <th>Tên role</th>
        <th>Tác vụ</th>
    </tr>
    @foreach(var role in Model.ListRole)
    {
        <tr>
            <td>@role.Name</td>
            <td>
                <a class="btn btn-success btn-sm" asp-page="./Edit" asp-route-roleid="@role.Id">Cập nhật</a>
                <a class="btn btn-danger btn-sm" asp-page="./Delete" asp-route-roleid="@role.Id">Xóa</a>
            </td>
        </tr>
    }
</table>
