@page
@model ASP_EF.Pages.Blog.IndexModel

@{
    ViewData["Title"] = "Các bài viết";
    int i = 0;
}

<h1>Danh sách bài viết</h1>
<form method="get" asp-page="./Index">
    <label>Tìm kiếm</label>
    <input name="SearchString" value="" />
    <button class="btn btn-success">Tìm</button>
</form>

<p>
    <a asp-page="Create" class="btn btn-primary">Tạo bài viết mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Số thứ tự
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Article[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Article[0].Created)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Article) {
        <tr>
            <td>
                @(++i)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Chỉnh sửa</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Xem</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>

@{
    var pagingModel = new ASP_EF.Helpers.PagingModel()
            {
                currentpage = Model.CurrentPage,
                countpage = Model.TotalPage,
                generateUrl = (int? p) => @Url.Page("/Blog/Index", new { p = p })
            };
}

<partial name="_Paging" model="@pagingModel" />